<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Especialista</title>
    <script>
        // Exibe um pop-up se houver erro no backend
        function verificarErro() {
            var erroMsg = document.getElementById("erro").value;
            if (erroMsg) {
                alert("Erro: " + erroMsg);
            }
        }
    </script>
</head>
<body onload="verificarErro()">
    <!-- Campo oculto para erro -->
    <input type="hidden" id="erro" th:value="${erro}" />

    <h2>Editar Especialista</h2>
    <form action="/editar-especialista" method="post">
        <!-- Campo oculto para ID do cliente -->
        <input type="hidden" name="idEspecialista" th:value="${especialista.idEspecialista}" />

        <label for="nome">Nome do Especialista:</label>
        <input type="text" id="nome" name="nomeEspecialista" th:value="${especialista.nomeEspecialista}" required><br><br>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" th:value="${especialista.telefone}" required><br><br>

    	 <label for="telefone">Especialidade:</label>
        <input type="text" id="especialidade" name="especialidade" th:value="${especialista.especialidade}" required><br><br>

    
    	 <label for="telefone">Numero de Registro:</label>
        <input type="text" id="numeroRegistro" name="numeroRegistro" th:value="${especialista.numeroRegistro}" required><br><br>

    
    	 <label for="telefone">Tipo de Registro:</label>
        <input type="text" id="tipoRegistro" name="tipoRegistro" th:value="${especialista.tipoRegistro}" required><br><br>

    
    	

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
